.form {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(119, 140, 202, 0.15);
  border-radius: 40px;
}

.form-title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.form-label {
  font-size: 0.8rem;
  margin-bottom: 15px;
  margin-left: 10px;
  color: hsl(200, 20%, 40%);
}

.form-input,
.form-submit {
  width: 100%;
  padding: 20px 30px;
  border-radius: 50px;
}

.form-input {
  margin-bottom: 30px;
  background-color: hsl(200, 20%, 97%);
  transition: 0.2s;
}

.form-input:focus {
  box-shadow: 0 0 0 2px hsl(200, 20%, 20%);
}

.form-submit {
  color: hsl(200, 20%, 90%);
  background-color: hsl(200, 20%, 10%);
  margin-top: 20px;
}
