<mat-sidenav-container>
      <mat-sidenav mode="side" opened>
            <nav class="nav">
                  <a class="nav-item" matRipple routerLink="/movie" routerLinkActive="active">
                        <mat-icon>movie</mat-icon> Movies
                  </a>
                  <a class="nav-item" matRipple routerLink="/actor" routerLinkActive="active">
                        <mat-icon>people</mat-icon> Actors
                  </a>
                  <a class="nav-item" matRipple routerLink="/about" routerLinkActive="active">
                        <mat-icon>info</mat-icon> About
                  </a>
            </nav>
      </mat-sidenav>
      <mat-sidenav-content>
            <router-outlet></router-outlet>
      </mat-sidenav-content>
</mat-sidenav-container>