<mat-toolbar>
      <mat-form-field class="select-language" appearance="outline">
            <mat-label>{{ 'language' | translate }}</mat-label>
            <mat-select value="en" #lang (selectionChange)="changeLanguage(lang.value)">
                  <mat-option value="en">English</mat-option>
                  <mat-option value="fr">France</mat-option>
            </mat-select>
      </mat-form-field>
      <button class="add-button" mat-raised-button color="primary" (click)="openDialog()">{{ 'add_user' | translate }}</button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="civility">
            <th mat-header-cell *matHeaderCellDef>{{ 'user_field.civility' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{ (user.civility == 'Mr' ? 'user_field.civility_mr' : 'user_field.civility_mrs') | translate }}</td>
      </ng-container>

      <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef>{{ 'user_field.first_name' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{ user.first_name }}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef>{{ 'user_field.last_name' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{ user.last_name }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>{{ 'user_field.gender' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{ (user.gender == 'male' ? 'user_field.gender_male' : 'user_field.gender_female') | translate }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>