mat-toolbar {
      padding: 40px;
      background-color: transparent;
}

mat-toolbar>h2 {
      font-size: 1.5rem;
      margin: 0;
}

.form {
      width: 100%;
      padding: 40px 20%;
      display: flex;
      flex-direction: column;
}

.form-title {
      text-align: center;
}

.form-label {
      font-size: 0.8em;
      margin-bottom: 15px;
      opacity: 0.6;
}

.form mat-form-field {
      width: 100%;
}

mat-radio-group {
      margin-bottom: 20px;
}

mat-radio-button {
      margin-right: 10px;
}

.form-action {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
}

.form-action button {
      margin-left: 20px;
}

.language {
      width: 100%;
      padding: 0 20px;
      display: flex;
}