@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* reset default css */

*,
*::before,
*::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      color: #33444d;
      scroll-behavior: smooth;
}

body {
      width: 100%;
      min-height: 100vh;
      background-color: #fcfefd;
}

a {
      text-decoration: none;
      color: rgb(52, 125, 236);
}

button, input, 
textarea {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: none;
      outline: none;
      background: none;
}

button {
      user-select: none;
      cursor: pointer;
}

ul, ol {
      line-height: 2;
      margin-left: 1em;  
}

/* table */

.table {
      width: 100%;
      border-collapse: collapse;
}

.table thead {
      color: #fff;
      background-color: #000;
}

.table tr th,
.table tr td {
      padding: 20px;
}

.table tr {
      border-bottom: 1px solid #e0e7eb;
}

.table tr:last-child {
      border: none;
}

.table__item {
      font-weight: 700;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
}

.table__item > img {
      width: 30px;
      height: auto;
      margin-right: 10px;
}

.table__item.round > img {
      width: 50px;
      height: 50px;
      margin: 0;
      border-radius: 50%;
}

.table__item ~ ul,
.table__item ~ ol {
      margin-left: 4em;
}

/* form */

.form {
      width: 100%;
      padding: 40px;
      display: flex;
      flex-direction: column;
}

.form__input,
.form__submit {
      width: 100%;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 10px;
      background-color: hsl(200, 20%, 96%);
}

.form__title {
      margin-bottom: 20px;
      margin-left: 5px;
      font-weight: 500;
}

.form__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
}

.form__wrapper .form__input {
      width: calc(50% - 10px);
}

.form__submit {
      color: #fff;
      margin-top: 40px;
      margin-bottom: 0;
      background-color: #33444d;
}

/* card */

.card {
      position: relative;
      width: 100%;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(119, 140, 202, 0.15);
      overflow: hidden;
}

.card__row {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
}

.card__row .card {
      width: calc(50% - 20px);
      min-height: 100%;
}

/* banner */

.banner {
      height: 320px;
      padding: 40px;
      padding-right: 40%;
      background-image: url("https://images.unsplash.com/photo-1664197003827-97f13c3ac52e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.banner__image {
      position: absolute;
      right: 10px; top: 20px;
}

.banner__title {
      font-size: 3rem;
      margin-bottom: 10px;
}

.banner__description {
      line-height: 1.75;
      margin-left: 8px;
}

/* decorative */

.decorative__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.decorative__video {
      width: 100%;
      height: 100%;
      /* filter: saturate(500%) brightness(60%); */
}

/* music */

.music {
      width: 100%;
      padding: 40px;
      display: flex;
      flex-direction: column;
}

.music__lyric {
      margin-bottom: 20px;
}

.music__line {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
      opacity: 0.2;
}

.music__line.active {
      opacity: 1;
}

.music__audio {
      position: fixed;
      z-index: 100;
      bottom: 20px;
      left: 40px;
      width: calc(100% - 80px);
}

/* profile */

.profile {
      width: 100%;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.profile__pict {
      width: 200px;
      height: 200px;
      margin-bottom: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
}

.profile__name {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
}

.profile__birth,
.profile__email,
.profile__password,
.profile__phone,
.profile__gender {
      margin-bottom: 10px;
}
 
/* header */

.header {
      width: 100%;
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.header__title {
      font-size: 1.4rem;
}

/* nav */

.nav { }

.nav__item {
      color: inherit;
      margin-left: 20px;
}

.nav__item--active {
      text-decoration: line-through;
}

/* main */

.main {
      width: 100%;
      min-height: 400px;
      padding: 40px;
      padding-top: 0;
}

/* footer */

.footer {
      font-size: 0.8rem;
      text-align: center;
      width: 100%;
      padding: 40px;
      opacity: 0.5;
}