<mat-card class="promo-card">
      <img
            class="promo-card-image"
            mat-card-image
            [src]="promo.image_url || 'https://plus.unsplash.com/premium_photo-1665675242030-54da84ce57c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'"
            alt="Photo of a Shiba Inu" />
      <mat-card-content class="promo-card-content">
            <mat-card-title [innerHtml]="promo.title"></mat-card-title>
            <mat-card-subtitle [innerHtml]="promo.sub_title"></mat-card-subtitle>
            <br> <br>
            <p [innerHtml]="promo.description"></p>
            <p>{{ promo.ref }}</p>
      </mat-card-content>
</mat-card>