/* You can add global styles to this file, and also import other style files */

* {
      box-sizing: border-box;
}

html,
body {
      height: 100%;

}

body {
      margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      color: hsl(200, 20%, 25%);
      background-color: #f5f9fd;
}

mark {
      padding: 0.1em;
      background-color: rgb(109, 124, 235);
}